<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/default.css">
    <title>Document</title>
</head>
<body>
    <div class="firstpage">
        <h1>To_Do List</h1>
    </div>
    <div class="firstpage-authentication card">
        <H2>Sign Up to make your first List!!!</H2>
        <form action="/signup" method="GET">
            <button class="Sign-up-btn">Sign Up</button>
        </form>
        <br>
        <h2>OR</h2>
        <br>
        <h3>Already have an account <a href="/login" class="Login-btn">Login</a></h3>
   
    </div>
</body>
</html>