<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="auth-container">
        <h2>Login</h2>
        <form action="/login" method="POST" class="auth-form">
          <input type="text" name="username" required placeholder="Username">
          <input type="password" name="password" required placeholder="Password">
          <button type="submit">Login</button>
        </form>
      <h3>Create a  <a href="/signup" class="Login-btn">new account</a></h3>

      </div>

</body>
</html>
